In [1]:
# JSON exercise
# Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
# Find the 10 countries with most projects
# Find the top 10 major project themes (using column 'mjtheme_namecode')
# In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [2]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [3]:
js = json.load((open('data/world_bank_projects.json')))
df = json_normalize(js)
df.head(3)

,_id.$oid,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1.Name,theme1.Percent,theme_namecode,themecode,totalamt,totalcommamt,url
0,52b213b38594d8a2be17c780,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,Education for all,100,"[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,52b213b38594d8a2be17c781,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,IBRD,Active,N,Other economic management,30,"[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,52b213b38594d8a2be17c782,2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,IBRD,Active,Y,Regional integration,46,"[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en

In [4]:
df.columns  #showing all column names to know which is required

Index(['_id.$oid', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract.cdata', 'project_name',
       'projectdocs', 'projectfinancialtype', 'projectstatusdisplay',
       'regionname', 'sector', 'sector1.Name', 'sector1.Percent',
       'sector2.Name', 'sector2.Percent', 'sector3.Name', 'sector3.Percent',
       'sector4.Name', 'sector4.Percent', 'sector_namecode', 'sectorcode',
       'source', 'status', 'supplementprojectflg', 'theme1.Name',
       'theme1.Percent', 'theme_namecode', 'themecode', 'totalamt',
       'totalcommamt', 'url'],
      dtype='object')

In [5]:
#Question 1

In [6]:
z = df.groupby(by= 'countryshortname').count()
y = z.project_name.sort_values(axis=0, ascending= False)
y.head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
Name: project_name, dtype: int64

In [7]:
'''Africa is not a country :), but the grading rubric said it is. We can choose to drop Africa, to make room for another country by doing by replacing y.head(10) with y.head(11), and then using something like y.drop('Africa')'''

"Africa is not a country :), but the grading rubric said it is. We can choose to drop Africa, to make room for another country by doing by replacing y.head(10) with y.head(11), and then using something like y.drop('Africa')"

In [8]:
#Question 2

In [9]:
#One way to do this is using a for loop over the data Series, and building a list of dictionary as shown below, 
#and then normalize to create the data frames 
data = df.mjtheme_namecode
full_list = []
for list in data:
    for xyz in list:
        full_list.append(xyz)
#print(full_list)

In [10]:
df2 = json_normalize(full_list)
df2.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [11]:
#Another way to do this is using the Pyhton itertool as in below. 
#aaa = df.mjtheme_namecode
#aaa = aaa.tolist()
#import itertools
#aaa1=itertools.chain.from_iterable(aaa)
#aaa2=pd.DataFrame.from_records(aaa1)
#aaa2['code']=pd.to_numeric(aaa2['code'])
#aaa2.head()

In [12]:
#Counts showing top 10 names with the missing values. This meets grading rubric
df2.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [13]:
#Question 3

In [14]:
df3 = df2.apply(lambda x: x.str.strip()).replace('', np.nan) #filling all blanks in name column with np.nan
df3.code = df3.code.astype('int64')
df3.head(20) #before sorting the 'code' column

    code                                          name
0      8                             Human development
1     11                                           NaN
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
7      6         Social protection and risk management
8      7                   Social dev/gender/inclusion
9      7                   Social dev/gender/inclusion
10     5                         Trade and integration
11     4      Financial and private sector development
12     6         Social protection and risk management
13     6                                           NaN
14     2                      Public sector governance
15     4      Financial and private sector development
16    11  Environment and natural resources management
17     8                                           NaN
18    10                             Rural development
19     7                                           NaN

In [15]:
df4= df3.sort_values(by= 'code')
df5 = df4.fillna(method='bfill').fillna(method='ffill') #filling in the missing values

In [16]:
#We drop duplicates to know unique values that we can build a dictionary with to enabe us fill empty cells
df6 = df5.drop_duplicates() 
df6

      code                                          name
1114     1                           Economic management
516      2                      Public sector governance
691      3                                   Rule of law
794      4      Financial and private sector development
1481     5                         Trade and integration
73       6         Social protection and risk management
922      7                   Social dev/gender/inclusion
1085     7                             Human development
887      8                             Human development
1303     9                             Urban development
1163    10                             Rural development
1465    11  Environment and natural resources management

In [17]:
tmp_dict={1: 'Economic management', 2: 'Public sector governance', 
         3:'Rule of law', 4:'Financial and private sector development', 
         5:'Trade and integration', 6:'Social protection and risk management', 
         7:'Social dev/gender/inclusion', 8:'Human development', 9: 'Urban development',
        10: 'Rural development', 11: 'Environment and natural resources management'}

In [18]:
#df6.to_dict(orient='records') thinking of way to convert output in cell 16 to dictionary without typing that out in cell 17, I 
#will keep that updated as soon as i find that.

In [19]:
df3['name']=df3['code'].map(tmp_dict)  #name is filled by mapping from 'prodict' dictionary
df3.head(20)

    code                                          name
0      8                             Human development
1     11  Environment and natural resources management
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
7      6         Social protection and risk management
8      7                   Social dev/gender/inclusion
9      7                   Social dev/gender/inclusion
10     5                         Trade and integration
11     4      Financial and private sector development
12     6         Social protection and risk management
13     6         Social protection and risk management
14     2                      Public sector governance
15     4      Financial and private sector development
16    11  Environment and natural resources management
17     8                             Human development
18    10                             Rural development
19     7                   Social dev/gender/inclusion