In [1]:
# JSON exercise
# Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
# Find the 10 countries with most projects
# Find the top 10 major project themes (using column 'mjtheme_namecode')
# In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [2]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [3]:
js = json.load((open('data/world_bank_projects.json')))
df = json_normalize(js)
df.head()

,_id.$oid,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1.Name,theme1.Percent,theme_namecode,themecode,totalamt,totalcommamt,url
0,52b213b38594d8a2be17c780,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,Education for all,100,"[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,52b213b38594d8a2be17c781,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,IBRD,Active,N,Other economic management,30,"[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,52b213b38594d8a2be17c782,2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,IBRD,Active,Y,Regional integration,46,"[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,52b213b38594d8a2be17c783,2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,IBRD,Active,N,Participation and civic engagement,50,"[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,52b213b38594d8a2be17c784,2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,IBRD,Active,N,Export development and competitiveness,30,"[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [4]:
df.columns  #showing all column names to know which is required

Index(['_id.$oid', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract.cdata', 'project_name',
       'projectdocs', 'projectfinancialtype', 'projectstatusdisplay',
       'regionname', 'sector', 'sector1.Name', 'sector1.Percent',
       'sector2.Name', 'sector2.Percent', 'sector3.Name', 'sector3.Percent',
       'sector4.Name', 'sector4.Percent', 'sector_namecode', 'sectorcode',
       'source', 'status', 'supplementprojectflg', 'theme1.Name',
       'theme1.Percent', 'theme_namecode', 'themecode', 'totalamt',
       'totalcommamt', 'url'],
      dtype='object')

In [5]:
#Question 1

In [6]:
z = df.groupby(by= 'countryshortname').count()
y = z.project_name.sort_values(axis=0, ascending= False)
y.head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
Name: project_name, dtype: int64

In [7]:
'''Africa is not a country :), but the grading rubric said it is. We can choose to drop Africa, to make room for another country by doing by replacing y.head(10) with y.head(11), and then using something like y.drop('Africa')'''

"Africa is not a country :), but the grading rubric said it is. We can choose to drop Africa, to make room for another country by doing by replacing y.head(10) with y.head(11), and then using something like y.drop('Africa')"

In [8]:
#Question 2

In [9]:
data = df.mjtheme_namecode
full_list = []
for list in data:
    for xyz in list:
        full_list.append(xyz)
#print(full_list)

In [10]:
df2 = json_normalize(full_list)
df2.head(10)

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

In [11]:
df2.name.value_counts().head(10)   #counts showing top 10 names with the missing values. My mentor said result meets grading rubric

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [12]:
#Question 3

In [13]:
df3 = df2.apply(lambda x: x.str.strip()).replace('', np.nan) #filling all blanks in name column with np.nan
df3.code = df3.code.astype('int64')
df4= df3.sort_values(by= 'code')

In [14]:
df3.head(15) #before sorting the 'code' column

    code                                          name
0      8                             Human development
1     11                                           NaN
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
7      6         Social protection and risk management
8      7                   Social dev/gender/inclusion
9      7                   Social dev/gender/inclusion
10     5                         Trade and integration
11     4      Financial and private sector development
12     6         Social protection and risk management
13     6                                           NaN
14     2                      Public sector governance

In [15]:
df4.head(15)  #after sorting the 'code' column

      code                 name
1114     1                  NaN
647      1  Economic management
1260     1  Economic management
648      1  Economic management
1437     1                  NaN
1257     1  Economic management
454      1  Economic management
453      1  Economic management
1057     1  Economic management
1024     1                  NaN
175      1  Economic management
249      1  Economic management
1056     1  Economic management
1218     1  Economic management
1212     1  Economic management

In [16]:
df5 = df4.fillna(method='bfill').fillna(method='ffill') #filling in the missing values
df5.head(15)

      code                 name
1114     1  Economic management
647      1  Economic management
1260     1  Economic management
648      1  Economic management
1437     1  Economic management
1257     1  Economic management
454      1  Economic management
453      1  Economic management
1057     1  Economic management
1024     1  Economic management
175      1  Economic management
249      1  Economic management
1056     1  Economic management
1218     1  Economic management
1212     1  Economic management

In [17]:
df5.name.value_counts()     # all name counts after filling missing values

Environment and natural resources management    250
Rural development                               216
Human development                               211
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     129
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64